.Rproj.user
.Rhistory
.RData
.Ruserdata
data/samples/
data/trimmed/
data/raw/
resources/ncbi
resources/genome_star
resources/orthofinder_tutorial
resources/proteomes/primary_transcript*
logs/
results/fastqc/
.snakemake/
results/star_quant_bam/
results/star_quant/
readcounts.txt
